body {
  font-family: "Jost", sans-serif;
}

.container{
    margin: 0 10%;
}
.main {
    display: flex;
}

.intro {
}

.introLine {
  border-left: 7px tomato solid;
  font-size: 50px;
}

.highlight {
  color: orange;
}
