body {
  font-family: "Jost", sans-serif;
}

.container {
  margin: 0 10%;
  /* max-width: 1200px; */
}
.main {
  display: flex;
}

.intro {
  width: 50%;
}

.introLine {
  border-left: 7px tomato solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 60px;
  padding-left: 10px;
}

.highlight {
  color: orange;
}

.infoLine {
  margin-bottom: 20px;
  font-size: 20px;
  margin-top: -20px;
  margin-right: 150px;
  text-align: justify;
}

.info {
  font-size: 18px;
}
.pix {
  width: 50%;
}
.pix img {
  max-width: 100%;
  /* margin-top: 50px; */
}

.button {
  text-decoration: none;
  font-size: 20px;
  background-color: orangered;
  color: white;
  margin: 20px 0;
  padding: 15px 50px;
  border-radius: 10px;
}
