body {
  font-family: "Jost", sans-serif;
}

.container{
    margin: 0 10%;
    /* max-width: 1200px; */
}
.main {
    display: flex;
}

.intro {
  width: 50%;
  
}

.introLine {
  border-left: 7px tomato solid;
  font-size: 60px;
  padding-left: 10px;
}


.highlight {
  color: orange;
}

.infoLine{
  margin-bottom: 20px;
}
.pix{
  width: 50%;
}
.pix img {
  max-width: 100%;
  /* margin-top: 50px; */
}

.button {
  text-decoration: none;
  font-size: 15px;
  background-color: orangered;
  color: white;
  margin: 20px 0;
  padding: 15px 50px;
  border-radius: 10px;
}